
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" >
            <style>
            [data-nav-headerbg="color_1"] .nav-header {
            background-color: #ec0c38; }
             </style>
            <div >
                <a href="index.html">
                    
                
                   <img src="{{asset('assets/images/logold.png') }}"/>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header addItemTeamNotif">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control searchDash" placeholder="Search Dashboard" aria-label="Search Dashboard">
                    <!--  Houni kenet fama div fi west'ha form fi westha input fasakhhom -->
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" class="notiff" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline na9ouz"></i>
                                <span class="badge badge-pill gradient-2 badge-primary nbNotif"></span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">New Notifications</span>  
                                    
                                </div>
                                <div class="dropdown-content-body">
                                    <ul id="listNotif">
                                        
                                        
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                   
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{{asset('assets/images/user/1.png') }}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li><a href="{{ path('login') }}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                    <li>
                        <a  href="{{ path('AdminDashboard')}}" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                       
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Projects</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ path('show_teams')}}" aria-expanded="false">GitLab Teams</a></li>
                            <li><a href="{{ path('showGitHubteams')}}" aria-expanded="false">GitHub Teams</a></li>
                        </ul>
                    </li>
                    
                    
                    
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Charts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
<script>
$(document).ready(function(){
    var list = document.getElementById("listNotif");
$.ajax({ 
    type: 'get',
    url: "{{ path('getNotif') }}",
    success: function(data, response){
        console.log(data);
        console.log(data.notificationss);
      for (let count = 0 ; count < data.notificationss.length ; count++){
          var d = data.notificationss[count].DateNotif/*,*/;
 
        var newElement = document.createElement('LI');
        newElement.innerHTML= '<a href="javascript:void()">'+
                             '<span class="mr-3 avatar-icon bg-success-lighten-2">'+'<i class="icon-present">'+'</i>'+'</span>'+
                             '<div class="notification-content">'+
                             '<h6 class="notification-heading">'+data.notificationss[count].Contenu+'</h6>'+
                             '<span class="notification-text">'+d+'</span>'+
                             '</div>'+
                             '</a>';
        list.appendChild(newElement);
     } }
          
   });

});
</script>
<script>
 var nbNotifications = 0 ;
 const url = new URL('http://localhost:3000/.well-known/mercure');
url.searchParams.append('topic', '/release');
// Subscribe to updates of several Book resources
url.searchParams.append('topic', '/mergeReq');
// All Review resources will match this pattern
url.searchParams.append('topic', '/commit');

	const eventSource = new EventSource(url);

	eventSource.onmessage = event => {

        var currentdate = new Date(); 
var datetime = currentdate.getDate() + "-"
                + (currentdate.getMonth()+1)  + "-" 
                + currentdate.getFullYear() + "  "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
        var obj = JSON.parse(event.data);
console.log(obj);
       var list = document.getElementById("listNotif");
         var newElement = document.createElement('LI');
        newElement.innerHTML= '<a href="javascript:void()">'+
                             '<span class="mr-3 avatar-icon bg-success-lighten-2">'+'<i class="icon-present">'+'</i>'+'</span>'+
                             '<div class="notification-content">'+
                             '<h6 class="notification-heading">'+'New '+obj.action+'  in project with id : '+obj.project+' in team  : '+obj.server+'</h6>'+
                             '<span class="notification-text">'+datetime+'</span>'+
                             '</div>'+
                             '</a>';
        list.prepend(newElement);
          list.removeChild(list.lastChild);

    nbNotifications = nbNotifications +1;
    $('.nbNotif').text(nbNotifications);
    $('.na9ouz').click(function() {
            $('.nbNotif').text('');
            nbNotifications = 0 ;
        //return false;
    });
        var lat = obj.lat;
		var long = obj.long;
		var latlng = new google.maps.LatLng(lat, long);

			var marker = new google.maps.Marker({
				position: latlng,
				map: map
			});
			marker.info = new google.maps.InfoWindow({
            content: '<div id="content">' + '<div id="siteNotice">' + '</div>'
             + '<h3 id="firstHeading" class="firstHeading">NEW  '+obj.action + 
             '</h3>' + '<div id="bodyContent">' + '<p><b style="color:red;">' 
             +obj.teamName +'</b>: <b>'+ obj.server +'</b>'
              +'</br><b> Number of  '+obj.action+' is updated to :' + obj.nbAction+' In project : '+ obj.project+'</b></br>'
              
			
            //content: '<p>'+'<b>NEW  '+obj.action+'</b>'+'</p>'
			});
			google.maps.event.addListener(marker, 'click', function() {
				marker.info.open(map, marker);
			});
			new google.maps.event.trigger( marker, 'click' );
			
			 google.maps.event.addListener(marker, 'click', function() {
				marker.info.close(map, marker);
			});
          
           function waiting() {
                return new Promise((resolve, reject) => {
                    setTimeout(() => {
                        resolve(new google.maps.event.trigger( marker, 'click' ));
                    }, 25000);
                })
            }

        waiting().then(() => {

           google.maps.event.clearListeners(marker, 'click');
            initMap();
         /*   marker.info = new google.maps.InfoWindow({
			content: 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
			});
            google.maps.event.addListener(marker, 'mouseover', function() {
				marker.info.open(map, marker);
			});
            google.maps.event.addListener(marker, 'mouseout', function() {
				marker.info.close(map, marker);
			});*/
     });
            
        
    console.log(JSON.parse(event.data));
}
</script>
